<div class="filter-container">
  <span>Filter:</span>

  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="selectedFilterdButton"
    (change)="onSelectedFiltereRadioButtonChanged()"
  />
  <span>All({{ all }})</span>

  <input
    type="radio"
    name="filter"
    value="true"
    [(ngModel)]="selectedFilterdButton"
    (change)="onSelectedFiltereRadioButtonChanged()"
  />
  <span>In Stocks({{ inStocks }})</span>

  <input
    type="radio"
    name="filter"
    value="false"
    [(ngModel)]="selectedFilterdButton"
    (change)="onSelectedFiltereRadioButtonChanged()"
  />
  <span>Out Stock({{ ouStock }})</span>
</div>
