<div class="ekart-product-container">
  <!-- <img [src]="Product.pImage" />
  <p>Name:{{ Product.name }}</p>
  <p>Price:{{ Product.price }}</p>
  <p>Color: {{ Product.color }}</p>
  <p>Discount Price: {{ getDiscountPrice().toFixed(2) }}</p>
  <p>
    Stock:
    {{
      Product.inStock > 0
        ? "Only " + Product.inStock + " Item left"
        : "Not in Stock"
    }}
  </p>
  <button (click)="decreamentCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="increamentCartValue()">+</button> -->
  <app-search></app-search>
  <product-list></product-list>
</div>
